*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6, p{
    line-height: 0.8;
}

/* calender part start here  */
#calender{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(9,9,121,1) 35%;
   
}
.calender_mani{
    background-color: #fff;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    align-items: center;
    
}
.left , .right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    flex-direction: column;
    text-transform: capitalize;
    
}
.left {
    background-color: #DC143C;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.left p{
   font-weight: 500;
   padding-bottom: 8px;
}
.left span{
   font-weight: 600;
}
.right span{
   font-weight: 500;
   
}
.right p{
   font-weight: 600;
   padding-bottom: 8px;
}
#date{
    font-size: 52px;
}
/* calender part start here  */